{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% load static %}

{% block content %}
<section class="h-100 gradient-form ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="container">
                                    <h2 class="mt-5 mb-4">Sign up</h2>
                                    <form method="post" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                        <div class=" mb-3 form-floating ">
                                            <input type="text" name="username" required="" class="form-control"
                                                   id="userInput"
                                                   placeholder="name@example.com">
                                            <label for="id_username" class="form-label">Username</label>
                                            <div class="invalid-feedback">
                                                Please provide a username.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_password1" class="form-label">Password</label>
                                            <input type="password" name="password1" required="" class="form-control"
                                                   id="password1Input"
                                                   placeholder="">
                                            <div class="invalid-feedback">
                                                Please provide a valid password.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_password2" class="form-label">Confirm Password</label>
                                            <input type="password" name="password2" required="" class="form-control"
                                                   id="password2Input"
                                                   placeholder="">
                                            <div class="invalid-feedback">
                                                Please confirm your password.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign Up</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}