{% extends "base.html" %}
{% load static %}
{% block title %}Editar perfil{% endblock %}

{% block content %}
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6 px-3">
                                <h2 class="ml-4 mt-3">Profile</h2>
                                <div class="card-body p-md-3 mx-md-4">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center d-none d-lg-block">
                                <div class="text-black px-3 py-4 p-md-5 w-100 h-100 align-items-center justify-content-center rounded-custom d-none d-lg-block "
                                     style="background-image: url({% static 'img/gradient-reserve.webp' %}); background-repeat: no-repeat; background-size: cover;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}