{% extends "base.html" %}
{% load static %}
{% block title %} Detalles de la película {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </div>
            <div class="col-md-6">
                <h1 class="mb-3">{{ movie.title }}</h1>
                <p class="text-muted">{{ movie.overview }}</p>
                <p class="mb-1"><strong>Fecha de lanzamiento:</strong> {{ movie.release_date }}</p>
                <p class="mb-1"><strong>Puntuación media:</strong> {{ movie.vote_average }}</p>
                <p class="mb-1"><strong>Idioma original:</strong> {{ movie.original_language }}</p>
                <p class="mb-1"><strong>Popularidad:</strong> {{ movie.popularity }}</p>
                <p class="mb-1"><strong>Votos:</strong> {{ movie.vote_count }}</p>
                {% if movie.homepage %}
                    <p class="mb-1"><strong>Presupuesto:</strong> {{ movie.budget }}</p>
                {% endif %}
                {% if movie.homepage %}
                   <p class="mb-1"><strong>HomePage:</strong> <a href="{{ movie.homepage }}"> {{ movie.homepage }}</a></p>
                {% endif %}
                <a href="{% url 'list_movies' %}" class="btn btn-primary">Volver a la lista de películas</a>
            </div>
        </div>
    </div>
{% endblock %}