{% extends "base.html" %}
{% block title %} Películas populares {% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-4">Popular movies</h1>
    <div class="row">
        {% for movie in data %}
        <div class="col-xl-4 col-md-6">
            <div class="card mb-4" style="border: 1px solid #000;">
                <div class="movie-card" onclick="window.location.href='{% url 'movie_details' movie.id %}'"
                     style="cursor: pointer;">
                    <img class="card-img-top cover" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                         alt="{{ movie.title }}">
                    <div class="overlay">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>{{ movie.title }}</strong></h5>
                            <p class="card-text">{{ movie.overview |truncatechars:200 }}</p>
                        </div>
                        <div class="card-footer position-absolute bottom-0 w-100">
                            <small class="">Fecha de lanzamiento: {{ movie.release_date }}</small><br>
                            <small class="">Puntuación media: {{ movie.vote_average }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
