{% extends "base.html" %}
{% load static %}
{% block title %} Detalles de la película {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </div>
            <div class="col-md-6">
                <h1 class="mb-3">{{ movie.title }}</h1>
                <p>{{ movie.overview }}</p>
                <table class="table table-striped">
                    <tr>
                        <th>Fecha de lanzamiento</th>
                        <td>{{ movie.release_date }}</td>
                    </tr>
                    <tr>
                        <th>Puntuación media</th>
                        <td>{{ movie.vote_average }}</td>
                    </tr>
                    <tr>
                        <th>Idioma original</th>
                        <td>{{ movie.original_language }}</td>
                    </tr>
                    <tr>
                        <th>Popularidad</th>
                        <td>{{ movie.popularity }}</td>
                    </tr>
                    <tr>
                        <th>Votos</th>
                        <td>{{ movie.vote_count }}</td>
                    </tr>
                    <tr>
                        <th>Presupuesto</th>
                        <td>{{ movie.budget }}</td>
                    </tr>
                    <tr>
                        <th>HomePage</th>
                        <td><a href="{{ movie.homepage }}"> {{ movie.homepage }}</a></td>
                    </tr>

                </table>
                <a href="{% url 'list_movies' %}" class="btn btn-primary">Volver a la lista de películas</a>
                <a href="{% url 'new_review' movie.id %}" class="btn btn-primary">Comentar</a>
            </div>
        </div>
    </div>
{% endblock %}