{% extends "base.html" %}
{% load static %}

{% block title %} Mis revisiones {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<br>
<h1 style="color: white;">Mis Reviews</h1>
<br>
<table class="table table-striped table-dark ">
    <thead>
    <tr>
        <th>Título de la película</th>
        <th>Calificación</th>
        <th>Comentario</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
    <tr>
        <td><a href="{% url 'movie_details' movieId=review.review_movie_id %}">{{ review.title }}</a></td>
        <td>{{ review.rating }}</td>
        <td>{{ review.content|truncatechars:30 }}</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editModal{{review.id}}">Modificar
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{review.id}}">Borrar
            </button>
        </td>
    </tr>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal{{review.id}}" tabindex="-1" aria-labelledby="editModalLabel{{review.id}}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel{{review.id}}">Editar Reseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí puedes agregar tu formulario de edición de revisión -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal{{review.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{review.id}}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{review.id}}">Eliminar Reseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres eliminar esta reseña?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <form method="POST" action="{% url 'delete_review' reviewId=review.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    </tbody>
</table>
{% endblock %}