{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mt-4 text-light-white pb-2" property="name">Popular movies</h1>
        <div class="row">
            {% for movie in movies %}
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-4" style="border: 1px solid #000;" vocab="http://schema.org/" typeof="Movie">
                        <div class="movie-card" onclick="window.location.href='{% url 'movie_details' movie.id %}'"
                             style="cursor: pointer;">
                            <img class="card-img-top cover" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                                 alt="{{ movie.title }}" property="image">
                            <div class="overlay">
                                <div class="card-body">
                                    <h5 class="card-title text-center" property="name">
                                        <strong>{{ movie.title }}</strong></h5>
                                    <p class="card-text"
                                       property="description">{{ movie.overview |truncatechars:200 }}</p>
                                </div>
                                <div class="card-footer position-absolute bottom-0 w-100">
                                    <small class="" property="datePublished">Release
                                        Date: {{ movie.release_date }}</small><br>
                                    <small class="" property="aggregateRating" typeof="AggregateRating">Average
                                        Rating: <span property="ratingValue">{{ movie.vote_average }}</span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <h1 class="mt-4 text-light-white">Popular series</h1>
        <div class="row">
            {% for serie in series %}
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-4" style="border: 1px solid #000;" vocab="http://schema.org/" typeof="TVSeries">
                        <div class="movie-card" onclick="window.location.href='{% url 'serie_details' serie.id %}'"
                             style="cursor: pointer;">
                            <img class="card-img-top cover" src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}"
                                 alt="{{ serie.title }}" property="image">
                            <div class="overlay">
                                <div class="card-body">
                                    <h5 class="card-title text-center" property="name">
                                        <strong>{{ serie.title }}</strong></h5>
                                    <p class="card-text"
                                       property="description">{{ serie.description |truncatechars:200 }}</p>
                                </div>
                                <div class="card-footer position-absolute bottom-0 w-100">
                                    <small class="" property="datePublished">Release
                                        Date: {{ serie.release_date }}</small><br>
                                    <small class="" property="aggregateRating" typeof="AggregateRating">
                                        Average Rating: <span property="ratingValue">{{ serie.rating }}</span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
